%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb hidden-sm hidden-xs"}
            %li
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  =t('.home')
            %li
               = link_to edit_company_user_drawing_path(current_user.company_id ,current_user.id, params[:id]) do
                  =t('.drawing')
            %li #{t('.billofmaterials')}
            %li{:class=>"pull-right"}
               = link_to t('.csv'), bom_company_user_drawing_path(current_user.company_id ,current_user.id,  params[:id], {:format => :csv })

%div{:id=>"main", :class=>"container"}
   %div{:class=>"row row-content-no-padding"}
      %div
         %table{:class=>"table table-bordered table-hover"}
            %thead
               %tr
                  %th #{t('.quantity')}
                  %th #{t('.model')}
                  %th #{t('.configuration')}
                  %th #{t('.unit_price')}
                  %th #{t('.valid')}
            %tbody
               -@valsArray.each do |val|
                  %tr{:class => bootstrap_class_for_valid(val[:uptodate])}
                     %td= val[:qty]
                     %td= val[:model]
                     %td= val[:config]
                     %td= val[:price]
                     %td= val[:uptodate]
