%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  =t('.home')
            %li
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  =t('.drawings')
            %li #{t('.edit_drawing_description')}
%div{:id=>"main", :class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = form_for(@drawing, :html => {:class => "form-horizontal"}, url: updatedrawingdetails_company_user_drawing_path(@drawing.company_id, @drawing.user_id, @drawing.id), :method => :POST) do |f|
         %div.page-header
            %div.container
               %div.row-fluid
                  %h2 #{t('.edit_drawing_description')}
         %div{:class=>"form-group"}
            = f.label :customer, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :customer, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :opportunity, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :opportunity, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :description, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :description, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :privacy, :class=>"control-label col-sm-2"
            %div{:class=>"controls col-sm-5"}
               = f.label :privacy_company, t('.within_company'), :class=>"radio" do
                  = f.radio_button :privacy, "company"
                  = t('.within_company')
               -if @divcount > 0
                  = f.label :privacy_division, t('.within_division'), :class=>"radio" do
                     = f.radio_button :privacy, "division"
                     = t('.within_division')
                     = f.collection_select :division, @divisions,:id,:name, {include_blank: false}, {:class=>"form-control"}
               = f.label :privacy_division, t('.only_user'), :class=>"radio" do
                  = f.radio_button :privacy, "user"
                  = t('.only_user')
         %div{:class=>"form-group"}
            %div{:class=>"col-sm-10 col-sm-offset-2"}
               = f.submit t('.save'), :class=>"btn btn-default"
               = link_to "<button class='btn btn-default'>#{t('.cancel')}</button>".html_safe, company_user_path(current_user.company_id ,current_user.id)
