%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Drawings
            %li Edit Drawing Description
%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = render 'shared/error_messages'
      = form_for(@drawing, :html => {:class => "form-horizontal"}, url: updatedrawingdetails_company_user_drawing_path(@drawing.company_id, @drawing.user_id, @drawing.id), :method => :POST) do |f|
         %div{:class=>"col-sm-12 col-sm-offset-1"}
            %h2 Edit Sketch
         %div{:class=>"form-group"}
            = f.label :customer, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :customer, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :opportunity, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :opportunity, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :description, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :description, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :privacy, :class=>"control-label col-sm-2"
            %div{:class=>"controls col-sm-5"}
               = f.label :privacy_company, "within Company", :class=>"radio" do
                  = f.radio_button :privacy, "company"
                  within Company
               -if @divcount > 0
                  = f.label :privacy_division, "within Division", :class=>"radio" do
                     = f.radio_button :privacy, "division"
                     within Division
                     = f.collection_select :division, @divisions,:id,:name, include_blank: false
                  = f.label :privacy_division, "Only for User", :class=>"radio" do
                     = f.radio_button :privacy, "user"
                     Only for User
         %div.row
            %div{:class=>"col-sm-12 col-sm-offset-1"}
               = f.submit "Save"
               = link_to "<button>Cancel</button>".html_safe, company_user_path(session[:company_id] ,session[:user_id])
