<h1>Drawings</h1>
<h2><%= user.name %></h2>
<%= render 'shared/error_messages' %>
<table>
  <tr>
    <th>Drawing</th>
    <th>Customer</th>
    <th>Description</th>
    <th>Created</th>
    <th>Last Updated</th>
  </tr>

<% @drawings.each do |drawing| %>
  <tr>
    <td><%= link_to drawing.opportunity, new_drawing_path(drawing.id) %></td>
    <td><%= drawing.description %></td>
    <td><%= drawing.customer %></td>
    <td><%= drawing.created_at %></td>
    <td><%= drawing.updated_at %></td>
  </tr>
<% end %>
</table>
