%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = render 'shared/error_messages'
      = form_for @message, url: send_image_company_user_drawing_path do |message_form|
         %div.col-sm-12
            %h2 Send Image
            Let's share our work
         %div{:class=>"form-group"}
            %div{:class=>"control-label col-sm-2"}
               = message_form.label :email1
            %div{:class=>"control-label col-sm-10"}
               = message_form.email_field :email1, placeholder: "Email 1", validate: { presence: true }
            %div{:class=>"control-label col-sm-2"}
               = message_form.label :email2
            %div{:class=>"control-label col-sm-10"}
               = message_form.email_field :email2, placeholder: "Email 2"
            %div{:class=>"control-label col-sm-2"}
               = message_form.label :email3
            %div{:class=>"control-label col-sm-10"}
               = message_form.email_field :email3, placeholder: "Email 3"
            %div{:class=>"control-label col-sm-2"}
               = message_form.label :email4
            %div{:class=>"control-label col-sm-10"}
               = message_form.email_field :email4, placeholder: "Email 4"
         %div{:class=>"form-group"}
            %div{:class=>"control-label col-sm-2"}
               = message_form.label :content
            %div{:class=>"control-label col-sm-10"}
               = message_form.text_area :content, placeholder: "Message"
         %div.row
            %div{:class=>"col-sm-12 col-sm-offset-0", :style=>"padding-left:30px"}
               = message_form.submit "Send"
               = link_to "<button>Cancel</button>".html_safe, company_user_path(session[:company_id] ,session[:user_id])
