%div.form-style-10
   %h1 New Sketch
   = render 'shared/error_messages'
   = form_for(@drawing, url: newdrawingproc_company_user_path(@company.id, @user.id)) do |f|
      %div.section
         %div.inner-wrap
            %div.col-md-6.col-md-offset-3
               = f.label :customer
               = f.text_field :customer
               %br

               = f.label :opportunity
               = f.text_field :opportunity
               %br

               = f.label :description
               = f.text_field :description
               %br

               = f.submit "Save"
               %br
