%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li
               = link_to company_path(session[:company_id] ) do
                  Company
            %li Edit User
%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = render 'shared/error_messages'
      = form_for([@company, @user],:html => {:class => "form-horizontal"}) do |f|
         %div.page-header
            %div.container
               %div.row-fluid
                  %h2 Edit User
         %div{:class=>"form-group"}
            = f.label :email, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.email_field :email, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :provider, :class=>"control-label col-sm-2"
            %div{:class=>"controls col-sm-5"}
               - User.providers.each do |key, val|
                  = f.label :provider, "Provider", :class=>"radio" do
                     = f.radio_button :provider, key
                     = key
         %div{:class=>"form-group"}
            = f.label :role, :class=>"control-label col-sm-2"
            %div{:class=>"controls col-sm-5"}
               - User.roles.slice(:user,:moderator).each do |key, val|
                  = f.label :role, "Role", :class=>"radio" do
                     -if key=="moderator" then key_show="Admin" else key_show=key end
                     = f.radio_button :role, key
                     = key_show
         %div{:class=>"form-group"}
            = f.label :timezone, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.select :timezone, options_for_select(@timezone_array, @user.timezone), {}, {:class=>"form-control"}
         %div.row
            %div{:class=>"col-sm-12 col-sm-offset-0", :style=>"padding-left:30px"}
               = f.submit "Save"
               = link_to "<button>Cancel</button>".html_safe, company_path(session[:company_id])
