%div.form-style-10
   %h1 Update User
   = form_for([@company, @user]) do |f|
      %div.section
         %div.inner-wrap
            %div.col-md-6.col-md-offset-3
               = f.label :email
               = f.email_field :email, :required => true
               %br

               = f.label :role
               - User.roles.slice(:user,:moderator).each do |key, val|
                  -if key=="moderator" then key_show="Admin" else key_show=key end
                  = f.radio_button :role, key
                  = key_show
               %br

               = f.submit "Save"
               = button_tag "Cancel", :type => 'submit', :class => 'button', :value=>"Cancel"
               %br
