%div.form-style-10
   %h1 New Sketch
   = form_for(@drawing, url: newdrawingproc_company_user_path(@company.id, @user.id)) do |f|
      %div.section
         %div.inner-wrap
            %div.col-md-6.col-md-offset-3
               = f.label :customer
               = f.text_field :customer
               %br

               = f.label :opportunity
               = f.text_field :opportunity
               %br

               = f.label :description
               = f.text_field :description
               %br

               %p Privacy Level
               = f.radio_button :privacy, "company"
               = f.label :privacy_company, "within Company", :style => "display:inline"
               %br
               -if @divcount > 0
                  = f.radio_button :privacy, "division"
                  = f.label :privacy_division, "within Division", :style => "display:inline"
                  =f.collection_select :division, @divisions,:id,:name, include_blank: false
               = f.radio_button :privacy, "user"
               = f.label :privacy_division, "Only for User", :style => "display:inline"
               %br
               %br

               = f.submit "Save"
               = button_tag "Cancel", :type => 'submit', :class => 'button', :value=>"Cancel"
               %br
