%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Drawings
            %li New Drawing

%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = form_for(@drawing, :html => {:class => "form-horizontal"}, url: newdrawingproc_company_user_path(@company.id, @user.id)) do |f|
         %div.col-sm-12
            %h2 New Sketch
         %div{:class=>"form-group"}
            = f.label :customer, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-9"}
               = f.text_field :customer, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :opportunity, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-9"}
               = f.text_field :opportunity, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :description, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-9"}
               = f.text_field :description, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :privacy, :class=>"control-label col-sm-2"
            %div{:class=>"controls col-sm-9"}
               = f.label :privacy_company, "within Company", :class=>"radio" do
                  = f.radio_button :privacy, "company"
                  within Company
               -if @divcount > 0
                  = f.label :privacy_division, "within Division", :class=>"radio" do
                     = f.radio_button :privacy, "division"
                     within Division
                     = f.collection_select :division, @divisions,:id,:name, include_blank: false
               = f.label :privacy_division, "Only for User", :class=>"radio" do
                  = f.radio_button :privacy, "user"
                  Only for User
         %div.row
            %div{:class=>"col-sm-12 col-sm-offset-1"}
               = f.submit "Save"
               = link_to "<button>Cancel</button>".html_safe, company_user_path(session[:company_id] ,session[:user_id])
