%div{:id=>"breadcrumbs", :class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li{:class=>"hidden-sm hidden-xs"}
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  Home
            %li{:class=>"hidden-sm hidden-xs"} Drawings
            = form_tag company_user_path(current_user.company_id ,current_user.id), class: "pull-right navbar-form searchbread", method: :get do
               %div{:class=>"input-group"}
                  %input{:type=>"text", :class=>"form-control", :placeholder=> "Search", :name=>"srch_term", :id=>"srch-term", :value => "#{@searchVal}"}
                     %div{:class=>"input-group-btn"}
                        %button{:class=>"btn btn-default", :type=>"submit"}
                           %i{:class=>"glyphicon glyphicon-search"}
%div{:class=>"container"}
   %div{:class=>"row row-content-no-padding"}
      %div
         %table{:class=>"table table-bordered table-hover"}
            %thead
               %tr
                  %td Drawings
                  %td{:class=>"hidden-sm hidden-xs", :colspan=>'7'}
                  %td New
                  %td
                     = link_to newdrawing_company_user_path(@user.company.id, @user.id) do
                        %i{:class=>"fa fa-plus-square"}
               %tr
                  %th= sortable "opportunity"
                  %th{:class=>"hidden-sm hidden-xs"}= sortable "description", "Description"
                  %th{:class=>"hidden-sm hidden-xs"}= sortable "customer", "Customer"
                  %th{:class=>"hidden-sm hidden-xs"}= sortable "users.email", "Email"
                  %th{:class=>"hidden-sm hidden-xs"}= sortable "updated_at", "Updated"
                  %th PNG
                  %th Send
                  %th Desc
                  %th BOM
                  %th Edit
            %tbody
               -@userdrawings.each do |drawing|
                  %tr
                     %td= drawing.opportunity
                     %td{:class=>"hidden-sm hidden-xs"}= drawing.description
                     %td{:class=>"hidden-sm hidden-xs"}= drawing.customer
                     %td{:class=>"hidden-sm hidden-xs"}= drawing.user.email
                     - if drawing.updated_at.to_date == Date.today
                        %td{:class=>"hidden-sm hidden-xs"}= drawing.updated_at.in_time_zone(@timezone).strftime("Today, %H:%M %Z")
                     - elsif drawing.updated_at.to_date > Date.today.days_ago(6)
                        %td{:class=>"hidden-sm hidden-xs"}= drawing.updated_at.in_time_zone(@timezone).strftime("%A, %H:%M %Z")
                     - else
                        %td{:class=>"hidden-sm hidden-xs"}= drawing.updated_at.in_time_zone(@timezone).strftime("%Y-%m-%d %H:%M %Z")
                     %td
                        - if (drawing.drawing == "")
                           %i{:class=>"fa fa-ban"}
                        - else
                           =link_to show_image_company_user_drawing_path(@user.company.id,@user.id,drawing.id) do
                              %span{:class=>"fa fa-picture-o","aria-hidden"=>"true"}
                     %td
                        - if (drawing.drawing == "")
                           %i{:class=>"fa fa-ban"}
                        - else
                           = link_to send_image_form_company_user_drawing_path(@user.company.id,@user.id,drawing.id) do
                              %i{:class=>"fa fa-envelope"}
                     %td
                        - if !((drawing.user_id == @user.id) || (@user.admin?) || (@user.moderator?))
                           %i{:class=>"fa fa-ban"}
                        - else
                           = link_to editdrawingdetails_company_user_drawing_path(@user.company.id,@user.id,drawing.id) do
                              %i{:class=>"fa fa-pencil-square-o"}
                     %td
                        - if (drawing.drawing == "")
                           %i{:class=>"fa fa-ban"}
                        - else
                           = link_to bom_company_user_drawing_path(@user.company.id, @user.id, drawing.id) do
                              %i{:class=>"fa fa-file-text-o"}
                     %td
                        = link_to edit_company_user_drawing_path(@user.company.id,@user.id,drawing.id) do
                           %i{:class=>"fa fa-pencil-square-o"}
         %div{:id=>"pagination-wrapper", :class=>"pagination-wrapper"}
            =will_paginate @userdrawings, renderer: BootstrapPagination::Rails
