%h2= @company.name
%h3= @division.name
%p Current Users
%table
   %tr
      %th Email
      %th
      %th
      %th
      %th
   -if @division.users.size == 0
      %tr
         %td None
         %td
         %td
         %td
         %td
   -else
      -@division.users.each do |user|
         %tr
            %td= user.email
            %td
               -if can? :update, user
                  = link_to "Remove From Division", removeuserdiv_company_division_user_path(@company, @division, user)
            %td
            %td
            %td

= form_for [@company,@division], :url => {:action => 'adduserdiv'}, method: "post" do |f|
   -divids = #{@division.users.pluck(:id)}
   -compids = #{@company.users.pluck(:id)}
   =f.collection_select :id, User.where(id: compids).where.not(id: divids),:id,:email, include_blank: false
   =f.submit "Add User"
