%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li
               = link_to company_path(session[:company_id] ) do
                  Company
            %li Update Division
%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = render 'shared/error_messages'
      = form_for([@company, @division],:class=>"form-horizontal") do |f|
         %div.col-sm-12
            %h2 Update Division
         %div{:class=>"form-group"}
            %div{:class=>"control-label col-sm-2"}
               = f.label :name
            %div{:class=>"control-label col-sm-10"}
               = f.text_field :name
         %div.row
            %div{:class=>"col-sm-12 col-sm-offset-0", :style=>"padding-left:30px"}
               = f.submit "Save"
               = link_to "<button>Cancel</button>".html_safe, company_path(session[:company_id])
