%div.form-style-10
   %h1 Update Division
   = form_for([@company, @division]) do |f|
      %div.section
         %div.inner-wrap
            %div.col-md-6.col-md-offset-3
               = f.label :name
               = f.text_field :name
               %br

               %br

               = f.submit "Save"
               = button_tag "Cancel", :type => 'submit', :class => 'button', :value=>"Cancel"
               %br
