= javascript_include_tag 'jquery-ui'
%div{ :class=>"hide", :id=>"info"}
%div{ :class=>"hide", :id=>"TextFormDiv"}
   %form{:id=>"TextForm", :autocomplete=>"off"}
      %TEXTAREA {:id=>"textBoxMultiline", :COLS=>40, :ROWS=>2}
      %input.activeTextObjectId
      %br
      %input {:type=>"submit", :value=>"Submit"}
      %input {:type=>"button", :name=>"cancel" :value=>"Cancel" :onClick=>"textcancel()"}
%div{:class=>"hide", :id=>"LabelFormDiv"}
   %form{ :id=>"LabelForm", :autocomplete=>"off"}
      %input{ :id=>"textBox", :placeholder=>"your text", :autocomplete=>"off"}
      %input{ :id=>"activeObjectId"}
      %br
      %input{ :type=>"submit", :value=>"Submit"}
      %input{ :type=>"button", :name=>"cancel", :value=>"Cancel", :onClick=>"labelcancel()"}
%div#inputs
%div#menubar
   =link_to "<button id='backgroundButtonText'>Background</button>".html_safe, "", :id=>"backgroundButton", :onClick=>"runBackground(); backgroundModal(); return false;"
   =image_tag "common/paint_bucket.png"
   %input{:id=>'myColor', :class=>'color {pickerClosable:true}', :onchange=>"colorPickerChange('#'+this.color)", :style=>'width:2em;', :value=>'000000'}
   =image_tag "common/FastText.png"
   %input{:id=>'myFontColor', :class=>'color {pickerClosable:true}', :onchange=>"myFontColor('#'+this.color)", :style=>'width:2em;', :value=>'000000'}
   Customer:
   = @drawing.customer
   Opportunity:
   = @drawing.opportunity
%div{:id=>"accordian-canvas-wrapper", :style=>"height:1000px;width:100%;"}
   %div{:id=>"accordian-container"}
      %div{ :id=>"accordion" }
         %h3 Meters
         %div{:style=>"margin:0px;padding:0px;"}
            %div{:id=>"images"}
               %table
                  %tr
                     %td
                        = image_tag "companies/GE/EPM2000.gif", :img_val=>"EPM2000.gif",  :"data-config"=>"4", :"data-loc"=>"companies/GE/EPM2000.gif", :"data-model"=>"EPM2000", :draggable=>"true", :width=>"68", :height => "65"
                        %figcaption EPM2000
                     %td
                        = image_tag "companies/GE/EPM6000.gif", :img_val=>"EPM6000.gif", :"data-config"=>"5", :"data-loc"=>"companies/GE/EPM6000.gif", :"data-model"=>"EPM6000", :draggable=>"true", :width=>"54", :height => "54"
                        %figcaption EPM6000
                  %tr
                     %td
                        = image_tag "companies/GE/EPM9000.gif", :img_val=>"EPM9650.gif",  :"data-config"=>"6", :"data-loc"=>"companies/GE/EPM9650.gif", :"data-model"=>"EPM9650", :draggable=>"true", :width=>"82", :height => "52"
                        %figcaption EPM9650
                     %td
                        = image_tag "companies/GE/EPM9800.gif", :img_val=>"EPM9800.gif", :"data-config"=>"7", :"data-loc"=>"companies/GE/EPM9800.gif", :"data-model"=>"EPM9800", :draggable=>"true", :width=>"71", :height => "64"
                        %figcaption EPM9800
                  %tr
                     %td
                        = image_tag "companies/GE/epm4600.jpg", :img_val=>"EPM4600.jpg",  :"data-config"=>"8", :"data-loc"=>"companies/GE/EPM4600.jpg", :"data-model"=>"EPM4600", :draggable=>"true", :width=>"82", :height => "53"
                        %figcaption EPM4600
                     %td
                        = image_tag "companies/GE/epm9900.jpg", :img_val=>"EPM9900.jpg", :"data-config"=>"9", :"data-loc"=>"companies/GE/EPM9900.jpg", :"data-model"=>"EPM9900", :draggable=>"true", :width=>"82", :height => "52"
                        %figcaption EPM9900
                  %tr
                     %td
                        = image_tag "companies/GE/PQMII.gif", :img_val=>"PQMII.gif",  :"data-config"=>"10", :"data-loc"=>"companies/GE/PQMII.gif", :"data-model"=>"PQMII", :draggable=>"true", :width=>"67", :height => "44"
                        %figcaption PQMII
                     %td
                        = image_tag "companies/GE/epm6100-7100.jpg", :img_val=>"epm6100.jpg", :"data-config"=>"11", :"data-loc"=>"companies/GE/epm6100-7100.jpg", :"data-model"=>"EPM6100", :draggable=>"true", :width=>"68", :height => "65"
                        %figcaption EPM6100
                  %tr
                     %td
                        = image_tag "companies/GE/epm6100-7100.jpg", :img_val=>"epm7100.jpg", :"data-config"=>"12", :"data-loc"=>"companies/GE/epm6100-7100.jpg", :"data-model"=>"EPM7100", :draggable=>"true", :width=>"68", :height => "65"
                        %figcaption EPM7100
                     %td
                        = image_tag "companies/GE/EPM-Enclosure.png", :img_val=>"EPM-Enclosure.png", :"data-config"=>"13", :"data-model"=>"EPM-Enclosure", :draggable=>"true", :width=>"60", :height => "71"
                        %figcaption EPM-Enclosure
         %h3 Networking
         %div{:style=>"margin:0px;padding:0px;"}
            %div{:id=>"images"}
               %table
                  %tr
                     %td
                        = image_tag "companies/GE/ml3000.jpg", :img_val=>"ml300.jpg", :"data-loc"=>"companies/GE/ml3000.jpg", :"data-config"=>"14", :"data-model"=>"ML3000", :draggable=>"true", :width=>"99", :height => "36"
                        %figcaption ML3000
                     %td
                        = image_tag "companies/GE/ML1200.gif", :img_val=>"ML1200.gif", :"data-loc"=>"companies/GE/ML1200.gif", :"data-config"=>"15", :"data-model"=>"ML1200", :draggable=>"true", :width=>"77", :height => "49"
                        %figcaption ML1200
                  %tr
                     %td
                        = image_tag "companies/GE/ml810.jpg", :img_val=>"ml810.jpg", :"data-loc"=>"companies/GE/ml810.jpg", :"data-config"=>"16", :"data-model"=>"ML810", :draggable=>"true", :width=>"77", :height => "50"
                        %figcaption ML810
                     %td
                        = image_tag "companies/GE/ML800.gif", :img_val=>"ML800.gif", :"data-loc"=>"companies/GE/ML800.gif", :"data-config"=>"17", :"data-model"=>"ML800", :draggable=>"true", :width=>"77", :height => "50"
                        %figcaption ML800
                  %tr
                     %td
                        = image_tag "companies/GE/ML600.gif", :img_val=>"ML600.gif", :"data-loc"=>"companies/GE/ML600.gif", :"data-config"=>"18", :"data-model"=>"ML600", :draggable=>"true", :width=>"52", :height => "64"
                        %figcaption ML600
         %h3 Computing
         %div{:style=>"margin:0px;padding:0px;"}
            %div{:id=>"images"}
               %table
                  %tr
                     %td
                        = image_tag "companies/common/osa_cloud.svg", :img_val=>"osa_cloud.svg", :"data-loc"=>"companies/common/osa_cloud.svg", :"data-model"=>"Cloud", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Cloud
                     %td
                        = image_tag "companies/common/osa_database.svg", :img_val=>"osa_database.svg", :"data-loc"=>"companies/common/osa_database.svg", :"data-model"=>"Database",:draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Database
                  %tr
                     %td
                        = image_tag "companies/common/osa_firewall.svg", :img_val=>"osa_firewall.svg", :"data-loc"=>"companies/common/osa_firewall.svg", :"data-model"=>"Firewall", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Firewall
                     %td
                        = image_tag "companies/common/osa_server.svg", :img_val=>"osa_server.svg", :"data-loc"=>"companies/common/osa_server.svg", :"data-model"=>"Server",:draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Server
                  %tr
                     %td
                        = image_tag "companies/common/osa_device-wireless-router.svg", :"data-loc"=>"companies/common/osa_device-wireless-router.svg", :img_val=>"osa_device-wireless-router.svg",:"data-model"=>"Wifi", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Wifi
                     %td
                        = image_tag "companies/common/osa_ics_drive.svg", :img_val=>"osa_ics_drive.svg", :"data-loc"=>"companies/common/osa_ics_drive.svg", :"data-model"=>"Cog",:draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Cog
                  %tr
                     %td
                        = image_tag "companies/common/osa_wireless_network.svg", :img_val=>"osa_wireless_network.svg", :"data-loc"=>"companies/common/osa_wireless_network.svg", :"data-model"=>"Antenna", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Antenna
                     %td
                        = image_tag "companies/common/osa_vpn.svg", :img_val=>"osa_vpn.svg", :"data-loc"=>"companies/common/osa_vpn.svg", :"data-model"=>"VPN",:draggable=>"true", :width=>"64", :height => "64"
                        %figcaption VPN
         %h3 Shapes
         %div{:style=>"margin:0px;padding:0px;"}
            %div{:id=>"images"}
               %table
                  %tr
                     %td
                        = image_tag "common/line.png", :"data-loc"=>"common/line.png", :img_val=>"line.png", :draggable=>"true", :width=>"22", :height => "39"
                        %figcaption Line
                     %td
                        = image_tag "common/textbox_icon.png", :"data-loc"=>"common/textbox_icon.png", :img_val=>"textbox_icon.png", :draggable=>"true", :width=>"60", :height => "32"
                        %figcaption Text Box
                  %tr
                     %td
                        = image_tag "common/circle.png", :"data-loc"=>"common/circle.png", :img_val=>"circle_icon.png", :draggable=>"true", :width=>"40", :height => "32"
                        %figcaption Circle
                     %td
                        = image_tag "common/ellipse_icon.png", :"data-loc"=>"common/ellipse_icon.png", :img_val=>"ellipse_icon.png", :draggable=>"true", :width=>"40", :height => "16"
                        %figcaption Ellipse
                  %tr
                     %td
                        = image_tag "common/rectangle-icon.png", :"data-loc"=>"common/rectangle-icon.png", :img_val=>"rectangle-icon.png", :draggable=>"true", :width=>"65", :height => "47"
                        %figcaption Rectangle
         %h3 Places/People
         %div{:style=>"margin:0px;padding:0px;"}
            %div{:id=>"images"}
               %table
                  %tr
                     %td
                        = image_tag "companies/common/osa_home.svg", :"data-loc"=>"companies/common/osa_home.svg", :img_val=>"osa_home.svg",:"data-model"=>"Home", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Home
                     %td
                        = image_tag "companies/common/osa_site-branch.svg", :"data-loc"=>"companies/common/osa_site-branch.svg", :img_val=>"osa_site-branch.svg",:"data-model"=>"Branch", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Branch
                  %tr
                     %td
                        = image_tag "companies/common/osa_site-factory.svg", :"data-loc"=>"companies/common/osa_site-factory.svg", :img_val=>"osa_site-factory.svg",:"data-model"=>"Factory", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Factory
                     %td
                        = image_tag "companies/common/osa_site-head-office.svg", :"data-loc"=>"companies/common/osa_site-head-office.svg", :img_val=>"osa_site-head-office.svg",:"data-model"=>"Office", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Office
                  %tr
                     %td
                        = image_tag "companies/common/osa_site-neighbourhood.svg", :"data-loc"=>"companies/common/osa_site-neighbourhood.svg", :img_val=>"osa_site-neighbourhood.svg",:"data-model"=>"Homes", :draggable=>"true", :width=>"64", :height => "64"
                        %figcaption Homes
                     %td
                        = image_tag "companies/common/osa_user_blue.svg", :"data-loc"=>"companies/common/osa_user_blue.svg", :img_val=>"osa_user_blue.svg", :"data-model"=>"User",:draggable=>"true", :width=>"64", :height => "64"
                        %figcaption User

   %div{:id=>"div2", :style=>"position:absolute;left:230px"}
      %div{:id=>"canvas-container"}
         %canvas{:id=>"demoCanvas2", :width=>"1000", :height=>"800"}

:javascript
   var handler = "";
   var c = new Array();
   var objId_var = 0;
   var itemId = 0;
   var contextmenuon = false;
   var activeObject = false;
   var activeObjectVal = "";
   var activeLineGroup = null;
   var backgroundImageVal = "";
   var objectName = "";
   var canvas = new fabric.CanvasEx('demoCanvas2');
   document.getElementById("demoCanvas2").fabric = canvas;
   var fabric = fabric || { version: "1.4.13" };
   var motionInbounds = true;
   var lineActive = true;
   var lineSelected = false;
   var log = log4javascript.getDefaultLogger();
   var progressBar  = $("<div class='bar'></div>");
   var barContainer = $("<div class='progress'></div>").append(progressBar);
   log4javascript.setEnabled(false);
   var debugOn = GetDebugParameter('debug');
   log4javascript.setEnabled(debugOn);
   log.setLevel(log4javascript.Level.TRACE);
   log.info("Executing javascript in edit.html");
    log.debug("Executing spinner");
    $(".spinner").show();
    canvas.backgroundColor="";

    log.debug("Create Custom Image Class");
    fabric.CustomImage = fabric.util.createClass(fabric.Image, {
       type: 'custom-image',
       initialize: function(element, options) {
           this.callSuper('initialize', element, options);
           options && this.set('model', options.model);
           options && this.set('config', options.config);
           options && this.set('origloc', options.origloc);
           options && this.set('price', options.price);
           options && this.set('configdbid', options.configdbid);
       },
       toObject: function() {
           return fabric.util.object.extend(this.callSuper('toObject'),
                                         {config: this.config,
                                          price:  this.price,
                                          model:  this.model,
                                          origloc: this.origloc,
                                          configdbid: this.configdbid});
       },

       _render: function(ctx) {
          this.callSuper('_render', ctx);
          if (this.config != 'undefined') {
            ctx.font = '12px Helvetica';
            ctx.fillStyle = '#333';
            console.log("render text");
            console.log(this);
            ctx.fillText(this.config, -this.width/2, (this.height/2+5))
          }
       }
   });
   fabric.CustomImage.fromObject = function(object, callback) {
     fabric.util.loadImage(object.src, function(img) {
       callback && callback(new fabric.CustomImage(img, object));
      });
   };
   fabric.CustomImage.async = true;

   log.debug("Load window twice, there is a bug in canvas/fabric that this addresses");
   if(!window.location.hash) {
       window.location = window.location + '#loaded';
       window.location.reload();
   }else{
       log.debug("Create accordian");
       $( "#accordion" ).accordion();
       log.debug("Load Drawing");
       var data_drawing = "";
       if (parseInt("#{@drawing.drawing.length}") > 0) {
            log.debug("drawing loaded");
            data_drawing = #{ raw(@drawing.drawing) }
       } else {
            log.debug("no drawing loaded");
            data_drawing = ""
       }
       objId_var = 1;
       log.debug("load objects onto canvas");
       if (data_drawing != "") {
           canvas.loadFromJSON(data_drawing, function () {
              //first render
              canvas.renderAll.bind(canvas);
              var objs = canvas.getObjects().map(function(o) {
                return o.set('active', false);
              });
              for(i = 0; i < objs.length; i++ ) {
                 //console.log("Objs[",i,"]", objs[i])
                 objs[i].id = itemId
                 itemId = itemId + 1;
                 if (objs[i].type == "line") {
                    var objId_var = objs[i].objId
                    c[objId_var] = makeCircle(objs[i]);
                    x1 = objs[i].left + objs[i].width/2 + objs[i].x1
                    x2 = objs[i].left + objs[i].width/2 + objs[i].x2
                    y1 = objs[i].getTop() + objs[i].height/2 + objs[i].y1
                    y2 = objs[i].getTop() + objs[i].height/2 +  objs[i].y2
                    c[objId_var][0].top =  y1
                    c[objId_var][0].left = x1
                    c[objId_var][0].setCoords();
                    c[objId_var][1].top =  y2
                    c[objId_var][1].left = x2
                    c[objId_var][1].setCoords();
                    objs[i].hasControls = objs[i].hasBorders = false
                    objs[i].c1 = c[objId_var][0]
                    objs[i].c2 = c[objId_var][1]
                    objs[i].set('x1', x1)
                    objs[i].set('y1', y1)
                    objs[i].set('x2', x2)
                    objs[i].set('y2', y2)
                    objs[i].setCoords();
                    canvas.add(c[objId_var][0],c[objId_var][1]);
                    c[objId_var][0].bringToFront();
                    c[objId_var][1].bringToFront();
                    canvas.renderAll.bind(canvas);
                 }
              }
              canvas.renderAll();
              backgroundImageVal = "";
              if (canvas.hasOwnProperty('backgroundImage')) {
                 if ((canvas.backgroundImage).hasOwnProperty('src')) {
                     backgroundImageVal = canvas.backgroundImage.src;
                 }
              }
              console.log("BackgroundImage Loc: ", backgroundImageVal)
              backgroundExists(backgroundImageVal);
           },
           postProcessLoading);

       }
       log.debug("load background object onto canvas");
       var center = canvas.getCenter();
       log.info( "Drawing should be loaded ");
       log.info( "Fade spinner out ");
       $(".spinner").fadeOut( 400 );
   }

   log.info( "Loading all observers and listeners ");
   canvas.on('mouse:over', mouseOver);
   canvas.on('mouse:out', mouseOut);
   canvas.on('object:selected', objectSelected);
   canvas.on('mouse:up', function(e) { });
   canvas.on('mouse:down', mouseDown);
   canvas.on('selection:cleared', selectionCleared);
   canvas.on('object:scaling', objectResize);
   canvas.on('object:moving', boundaryInspectorCircle);
   canvas.observe("object:moving", objectBoundaryCheck);
   canvas.observe("object:rotating", objectBoundaryCheck);
   if (Modernizr.draganddrop) {
      // Browser supports HTML5 DnD.
      // Bind the event listeners for the image elements
      log.info( "Binding event listeners to images ");
      var images = document.querySelectorAll('#images img');
      [].forEach.call(images, function (img) {
         img.addEventListener('dragstart', handleDragStart, false);
         img.addEventListener('dragend', handleDragEnd, false);
      });
      // Bind the event listeners for the canvas
      var canvasContainer = document.getElementById('canvas-container');
      log.info( "Binding event listeners to canvas ");
      canvasContainer.addEventListener('dragenter', handleDragEnter, false);
      canvasContainer.addEventListener('dragover', handleDragOver, false);
      canvasContainer.addEventListener('dragleave', handleDragLeave, false);
      canvasContainer.addEventListener('drop', handleDrop, false);
   } else {
     // Replace with a fallback to a library solution.
     log.error( " This browser doesn't support the HTML5 Drag and Drop API ");
     alert("This browser doesn't support the HTML5 Drag and Drop API.");
   }

   log.info( "Done Demo_Industrial Javascript ");

   $(function() {
      $('.directUpload').find("input:file").each(function(i, elem) {
        console.log("URL directUpload")
        console.log(form)
        var fileInput    = $(elem);
        console.log("fileInput")
        console.log(fileInput)
        var form         = $(fileInput.parents('form:first'));
        console.log("form")
        console.log(form)
        console.log("form:first data")
        console.log(form.data)
        console.log("form.data('url')")
        console.log(form.data('url'))
        console.log("form.data('form-data')")
        console.log(form.data('form-data'))
        console.log("form.data('form-data').key")
        console.log(form.data('form-data').key)
        console.log("form.data('host')")
        console.log(form.data('host'))
        var URL_dest = form.data('url') + "/" + form.data('form-data').key
        var submitButton = form.find('input[type="submit"]');
        fileInput.after(barContainer);
        fileInput.fileupload({
        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if(data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('Not an accepted file type');
                }
                if(data.originalFiles[0]['size'].length && data.originalFiles[0]['size'] > 1000000) {
                    uploadErrors.push('Filesize is too big');
                }
                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },
        fileInput:       fileInput,
        url:             form.data('url'),
        type:            'POST',
        autoUpload:       true,
        formData:         form.data('form-data'),
        paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
        dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
        replaceFileInput: false,
        progressall: function (e, data) {
           var progress = parseInt(data.loaded / data.total * 100, 10);
           progressBar.css('width', progress + '%')
        },
        start: function (e) {
           submitButton.prop('disabled', true);

           progressBar.
             css('background', 'green').
             css('display', 'block').
             css('width', '0%').
             text("Loading...");
           console.log(form);
        },
        done: function(e, data) {
           submitButton.prop('disabled', false);
           progressBar.text("Uploading done");
           $('#upload_button').removeAttr('disabled');
           // extract key and generate URL from response
           var key   = $(data.jqXHR.responseXML).find("Key").text();
           var url   = '//' + form.data('host') + '/' + key;
           console.log("done:key,url")
           console.log(key)
           console.log(url)
           // create hidden field
           var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
           form.append(input);
           imageURL = "https:" + url;
           console.log("imageURL");
           console.log(imageURL);
           canvas.setBackgroundImage(imageURL,
                canvas.renderAll.bind(canvas), {
                   backgroundImageOpacity: 0.5,
                   backgroundImageStretch: false,
                   scaleX:1,
                   scaleY:1,
                   top: center.top,
                   left: center.left,
                   originX: 'center',
                   originY: 'center',
                   crossOrigin: 'anonymous'
                }
           );
           $('#backgroundSection').modal('hide');
           backgroundButton(true);
         },
         fail: function(e, data) {
           submitButton.prop('disabled', false);
           progressBar.
             css("background", "red").
             text("Failed");
         }
       });
     });
   });
   function runBackground() {
      progressBar.css('width', '0%').
      css('color','white').
      css('display','none').
      text("");
   }

   function removeBackground() {
      canvas.backgroundImage = "";
      canvas.renderAll();
   }

   function backgroundExists(link) {

      console.log("In background exists")
      console.log(link)
      var background_exists = false;
      if (link === undefined || link === "") {
         background_exists = false;
         console.log("Using Background Button")
         if ( $( "#backgroundButton" ).length ) {
                 console.log("Found Background Button")
         }
         if ( $( "#backgroundButtonText" ).length ) {
                 console.log("Found backgroundButtonText")
         }
         backgroundButton(false);
      } else {
         background_exists = true;
         console.log("Using Remove Background Button")
         if ( $( "#backgroundButton" ).length ) {
                 console.log("Found Background Button")
         }
         if ( $( "#backgroundButtonText" ).length ) {
                 console.log("Found backgroundButtonText")
         }
         backgroundButton(true);
      }
      console.log("Background Exists?")
      console.log(background_exists)
      console.log("Leaving Background Exists")
      return background_exists;
   }

   function backgroundButton( background )
   {
      if (background) {
        $("#backgroundButton").attr("onclick","removeBackgroundRoutine(); return false;");
        $("#backgroundButtonText").html('Remove Background');
      } else {
        $("#backgroundButton").attr("onclick","addBackgroundRoutine(); return false;");
        $("#backgroundButtonText").html('Background');
      }
   }

   function removeBackgroundRoutine()
   {
      removeBackground();
      backgroundButton(false);
      return false;
   }

   function addBackgroundRoutine()
   {
      runBackground();
      backgroundModal();
      return false;
   }
