%footer{:id=>"footer", :class=>"row-footer"}
   %div{:class=>"container"}
      %div{:class=>"row"}
         %div{:class=>"col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1"}
            %h5 #{t('.links')}
            %ul{:class=>"list-unstyled"}
               %li
                  %a{:href=>"#"} #{t('.home')}
               -#%li
               -#    %a{:href=>"#"} #{t('.about')}
               -#%li
               -#    %a{:href=>"#"} #{t('.menu')}
               -#%li
               -#    %a{:href=>"#"} #{t('.contact')}
         %div{:class=>"col-xs-6 col-sm-5"}
            %h5 #{t('.our_address')}
            %address
               -#121, Clear Water Bay Road
               -#%br
               Toronto, ON
               %br
               Canada
               %br
               -#%i{:class=>"fa fa-phone"}: +852 1234 5678
               -#%br
               -#%i{:class=>"fa fa-fax"}: +852 8765 4321
               -#%br
               %i{:class=>"fa fa-envelope"}
                  %a{:href=>"mailto:sales@optecture.com"}:sales@optecture.com
         -#%div{:class=>"col-xs-12 col-sm-4"}
         -#    %div{:class=>"nav navbar-nav",:style=>"padding: 40px 10px;"}
         -#       %a{:class=>"btn btn-social-icon btn-google-plus", :href=>"http://google.com/+"}
         -#          %i{:class=>"fa fa-google-plus"}
         -#       %a{:class=>"btn btn-social-icon btn-facebook", :href=>"http://www.facebook.com/profile.php?id="}
         -#          %i{:class=>"fa fa-facebook"}
         -#       %a{:class=>"btn btn-social-icon btn-linkedin", :href=>"http://www.linkedin.com/in/"}
         -#          %i{:class=>"fa fa-linkedin"}
         -#       %a{:class=>"btn btn-social-icon btn-twitter", :href=>"http://twitter.com/"}
         -#          %i{:class=>"fa fa-twitter"}
         -#       %a{:class=>"btn btn-social-icon btn-youtube",:href=>"http://youtube.com/"}
         -#          %i{:class=>"fa fa-youtube"}
         -#       %a{:class=>"btn btn-social-icon",:href=>"mailto:"}
         -#          %i{:class=>"fa fa-envelope-o"}
         %div{:class=>"col-xs-12"}
            %p{:style=>"padding:10px;"}
            %p{:align=>"center"}© Copyright 2016 Optecture
:Javascript
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-76942309-1', 'auto');
   ga('send', 'pageview');
