%div{:id=>'cssmenu'}
   %ul
      - if (session[:company_id]!= nil) & (session[:user_id] != nil)
         %li
            = link_to company_user_path(session[:company_id] ,session[:user_id]) do
               %span Home
      - if @editdetails == true
         %li
            %a{:href=>'#', :onclick => "onSave( '#{params[:company_id]}', '#{params[:user_id]}', '#{params[:id]}')"}
               %span Save
         %li
            = link_to editdrawingdetails_company_user_drawing_path(params[:company_id],session[:user_id],params[:id]) do
               %span Edit
         %li
            = link_to show_image_company_user_drawing_path(params[:company_id],session[:user_id],params[:id]) do
               %span PNG
      - if @viewpng == true
         %li
            = link_to edit_company_user_drawing_path(@companyid,@userid,@drawingid) do
               %span Back to Drawing
      %li
         %a{:href=>'#'}
            %span Company
      %li
         %a{:href=>'#'}
            %span Contact
      %li
         - if current_user
            =link_to signout_path, :class => 'last' do
               %span Sign out
         - else
            =link_to "/auth/google_oauth2", id: "sign_in", :class => 'last' do
               %span Sign in with Google
