<!doctype html>
<html>
   <head>
     <meta charset="utf-8">
     <%= javascript_include_tag 'preloadjs-0.6.0.min' %>
     <%= javascript_include_tag 'easeljs-0.8.0.min' %>
     <%= javascript_include_tag 'jscolor' %>
     <%= javascript_include_tag 'jquery-1.11.3.min' %>
     <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" %>
     <%= javascript_include_tag 'jquery-ui' %>
     <%= javascript_include_tag 'dynamic_menus' %>
     <%= javascript_include_tag 'easl_experiments' %>
     <%= javascript_include_tag 'dragger' %>
     <%= javascript_include_tag 'lineObject' %>
     <%= javascript_include_tag 'circleObject' %>
     <%= javascript_include_tag 'textObject' %>
     <%= javascript_include_tag 'buttonClass' %>
     <%= javascript_include_tag 'pointObject' %>
     <%= javascript_include_tag 'objectSizer' %>
     <%= javascript_include_tag 'wordWrap' %>
	   <script>
       $(function() {
          $( "#accordion" ).accordion();
       });
     </script>
	 <%= stylesheet_link_tag 'contextmenu_orig' %>
     <title>Title of the document</title>
   </head>
   <body  id="body" onload="init();" oncontextmenu="return false;">

      <div class="hide" id="info">
      </div>
	  <div class="hide" id="TextFormDiv">
	     <form id="TextForm" autocomplete="off"><TEXTAREA id="textBoxMultiline" COLS=40 ROWS=2></TEXTAREA>
		   <input id="activeTextObjectId"/>
           <br>
           <input type="submit" value="Submit"><input type="button" name="cancel" value="Cancel" onClick="textcancel()"/>
         </form>
	  </div>
	  <div class="hide" id="LabelFormDiv">
	     <form id="LabelForm" autocomplete="off"><input id="textBox" placeholder="your text" autocomplete="off"/>
		   <input id="activeObjectId"/>
           <br>
           <input type="submit" value="Submit"><input type="button" name="cancel" value="Cancel" onClick="labelcancel()"/>
         </form>
	  </div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <div>
        <% if current_user %>
          Signed in as <strong><%= current_user.email %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google" , id: "sign_in" %>
        <% end %>
      </div>
	  <div id="inputs">
	  </div>
      <div id="menubar">
       <%= image_tag "paint_bucket.png" %>
	     <input id="myColor" class="color {pickerClosable:true}" onchange=colorPickerChange('#'+this.color) style="width:2em;" value="000000">
     <%= image_tag "FastText.png" %>
		 <input id="myFontColor" class="color {pickerClosable:true}" onchange=myFontColor('#'+this.color) style="width:2em;" value="000000">
	  </div>
      <div id="accordion" style="float:left;">
         <h3>Cameras</h3>
         <div style="margin:0px;padding:0px;">
            <canvas id="cameras" width="160" height="400" style="border:1px solid #000000;"></canvas>
         </div>
         <h3>Networking</h3>
         <div style="margin:0px;padding:0px;">
            <canvas id="networking" width="160" height="400" style="border:1px solid #000000;"></canvas>
         </div>
         <h3>Shapes</h3>
         <div style="margin:0px;padding:0px;">
            <canvas id="shapes" width="160" height="400" style="border:1px solid #000000;"></canvas>
         </div>
     </div>
     <div id="div2">
        <canvas id="demoCanvas2" width="1000" height="800" style="border:1px solid #000000;"></canvas>
     </div>

   </body>
</html>
