%iframe{:id=>"logoutframe", :src=>"https://accounts.google.com/logout",:style=>"display: none"}
%header{:class=>"jumbotron"}
   %div{:class=>"container"}
      %div{:class=>"row row-header"}
         %div{:class=>"col-xs-12 col-sm-5"}
            =image_tag "Logo4_blue_front.gif"
            %p{:style=>"padding:10px;"}
            =form_for(resource, as: resource_name, url: user_session_path) do |f|
               %fieldset.form-group
                  =f.label t('.email')
                  =f.email_field :email, autofocus: true, :class=>"form-control"
               %fieldset.form-group
                  = f.label t('.password')
                  = f.password_field :password, autocomplete: "off", :class=>"form-control"
               -if devise_mapping.rememberable?
                  %fieldset.form-group
                     = f.check_box :remember_me
                     = f.label t('.remember_me')
               %div.form-group
                  = f.submit t('.login'), :class=>"btn btn-default"
                  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                     = link_to t('.forgot_password'), new_password_path(resource_name)
            =link_to  user_linkedin_omniauth_authorize_path, id: "sign_in", :class => 'btn btn-block btn-social btn-linkedin' do
               %span{:class=>"fa fa-linkedin"}
               =t('.sign_in_linkedin')
            =link_to user_google_oauth2_omniauth_authorize_path , id: "sign_in", :class => 'btn btn-block btn-social btn-google' do
               %span{:id=>"googlebutton", :class=>"fa fa-google-plus"}
               =t('.sign_in_google')
%div{:id=>"main", :class=>"container"}
