%iframe{:id=>"logoutframe", :src=>"https://accounts.google.com/logout",:style=>"display: none"}
%header{:id=>"home"}
   %div.header-content
      %div.header-content-inner
         %h1 Optecture Let's You
         %h2 Draw Your Solution - Generate a Quote
         %hr.light
         %p Optecture's Powerful Diagram to Quotation Cloud Service will speed time and capture what's needed to grow opportunities.
         %a{:href=>"#about",:class=>"btn btn-primary btn-xl page-scroll"} Find Out More
%section.bg-primary{:id=>"about"}
   %div.container
      %div.row
         %div{:class=>"col-lg-8 col-lg-offset-2 text-center"}
            %h2.section-heading Draw and Price
            %hr.light
            %p.text-faded Cloud based software converts sales drawings to quotations
            %p.text-faded Capture and Share Requirements, Instantly Generate Quote, Grow Deal Sizes
            %a{:href=>"#login",:class=>"page-scroll btn btn-default btn-xl sr-button"} Get Started!
%section{:id=>"services", :style=>'background-color: #fff;'}
   %div.container
      %div.row
         %div{:class=>"col-lg-12 text-center"}
            %h2.section-heading At Your Service
            %hr.primary
   %div.container
      %div.row
         %div{:class=>"col-lg-3 col-md-6 text-center"}
            %div.service-box
               %i{:class=>"fa fa-4x fa-object-group text-primary sr-icons"}
               %h3 Diagram to Quote
               %p.text-muted Quickly map out solutions using your products and configurations
         %div{:class=>"col-lg-3 col-md-6 text-center"}
            %div.service-box
               %i{:class=>"fa fa-4x fa-phone text-primary sr-icons"}
               %h3 Ideal for Teleconferences
               %p.text-muted Better capture and communicate customer problems, and more quickly close deals
         %div{:class=>"col-lg-3 col-md-6 text-center"}
            %div.service-box
               %i{:class=>"fa fa-4x fa-line-chart text-primary sr-icons"}
               %h3 Analytics
               %p.text-muted Reports and Analysis to grow opportunity size
         %div{:class=>"col-lg-3 col-md-6 text-center"}
            %div.service-box
               %i{:class=>"fa fa-4x fa-gears text-primary sr-icons"}
               %h3 Integration
               %p.text-muted Save time by sending results directly to CRM
%section.no-padding{:id=>"portfolio"}
   %div.container-fluid
      %div{:class=>"row no-gutter popup-gallery"}
         %div{:class=>"col-lg-4 col-sm-6"}
            =link_to image_path( 'fullsize/software-sized.jpg'), :class => "portfolio-box" do
               = image_tag("thumbnails/software-sized.jpg", :class =>"img-responsive")
               %div.portfolio-box-caption
                  %div.portfolio-box-caption-content
                     %div{:class=>"project-category text-faded"}
                        Draw & Quote
                     %div.project-name
                        IT Sales
         %div{:class=>"col-lg-4 col-sm-6"}
            =link_to image_path( 'fullsize/dirty-industry-stack-factory-sized.jpg'), :class => "portfolio-box" do
               = image_tag("thumbnails/dirty-industry-stack-factory-sized.jpg", :class =>"img-responsive")
               %div.portfolio-box-caption
                  %div{:class=>"portfolio-box-caption-content"}
                     %div{:class=>"project-category text-faded"}
                        Draw & Quote
                     %div.project-name
                        Industrial Sales
         %div{:class=>"col-lg-4 col-sm-6"}
            =link_to image_path( 'fullsize/it_switch_sized.jpg'), :class => "portfolio-box" do
               = image_tag("thumbnails/it_switch_sized.jpg", :class =>"img-responsive")
               %div.portfolio-box-caption
                  %div{:class=>"portfolio-box-caption-content"}
                     %div{:class=>"project-category text-faded"}
                        Draw & Quote
                     %div.project-name
                        Network Equipment Sales
         %div{:class=>"col-lg-4 col-sm-6"}
            =link_to image_path("fullsize/diagram_sample.PNG"), :class => "portfolio-box" do
               = image_tag("thumbnails/diagram_sample_sized.png", :class =>"img-responsive")
               %div.portfolio-box-caption
                  %div{:class=>"portfolio-box-caption-content"}
                     %div{:class=>"project-category text-faded"}
                        IT/Industrial Application
                     %div.project-name
                        Draw the Solution
         %div{:class=>"col-lg-4 col-sm-6"}
            =link_to image_path( 'fullsize/prod_config_size.png'), :class => "portfolio-box" do
               = image_tag("thumbnails/prod_config_size.png", :class =>"img-responsive")
               %div.portfolio-box-caption
                  %div{:class=>"portfolio-box-caption-content"}
                     %div{:class=>"project-category text-faded"}
                        Configure Products In Drawing
                     %div.project-name
                        Configuration
         %div{:class=>"col-lg-4 col-sm-6"}
            =link_to image_path( 'fullsize/BOM.PNG'), :class => "portfolio-box" do
               = image_tag("thumbnails/BOM_sized.png", :class =>"img-responsive")
               %div.portfolio-box-caption
                  %div{:class=>"portfolio-box-caption-content"}
                     %div{:class=>"project-category text-faded"}
                        Rapidly Generate Bill of Materials
                     %div.project-name
                        Quotation
%aside.bg-dark
   %div{:class=>"container text-center"}
      %div.call-to-action
         %h2 Visit Our Blog on Sales and Marketing
         %a{:href=>"http://blog.optecture.com",:class=>"btn btn-default btn-xl sr-button"}Blog
- if !user_signed_in?
   %section.bg-primary{:id=>"login"}
      %div{:class=>"container"}
         %div{:class=>"row row-centered"}
            -# %div{:class=>"col-sm-6"}
            -#    =image_tag "Logo4_blue_front.gif"
            -#   %p{:style=>"padding:10px;"}
            %div{:class=>"col-sm-offset-4 col-sm-4"}
               =form_for(resource, as: resource_name, url: user_session_path) do |f|
                  %fieldset.form-group
                     =f.label t('.email')
                     =f.email_field :email, autofocus: false, :class=>"form-control"
                  %fieldset.form-group
                     = f.label t('.password')
                     = f.password_field :password, autocomplete: "off", :class=>"form-control"
                  -if devise_mapping.rememberable?
                     %fieldset.form-group
                        = f.check_box :remember_me
                        = f.label t('.remember_me')
                  %div.form-group
                     = f.submit t('.login'), :class=>"btn btn-default"
                     - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                        = link_to t('.forgot_password'), new_password_path(resource_name), :id=>"forgot_password"
               %hr.light
               =link_to  user_linkedin_omniauth_authorize_path, id: "sign_in", :class => 'btn btn-block btn-social btn-linkedin' do
                  %span{:class=>"fa fa-linkedin"}
                  =t('.sign_in_linkedin')
               %br
               =link_to user_google_oauth2_omniauth_authorize_path , id: "sign_in", :class => 'btn btn-block btn-social btn-google' do
                  %span{:id=>"googlebutton", :class=>"fa fa-google-plus"}
                  =t('.sign_in_google')
