<h1>Listing Companies</h1>
<%= render 'shared/error_messages' %>
<table>
  <tr>
    <th>Name</th>
    <th>Licenses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.licenses %></td>
    <td><% if can? :read, company %><%= link_to "Show", company %><% end %></td>
    <td><% if can? :update, company %><%= link_to "Edit", edit_company_path(company) %><% end %></td>
    <td><% if can? :destroy, company %><%= link_to "Remove", company, method: :delete, data: { confirm: "Are you sure?" } %><% end %></td>
  </tr>
<% end %>
</table>

<br>

<% if can? :create, :company %><%= link_to "New Company", new_company_path %><% end %>
