%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  =t('.home')
            %li #{t('.companies')}
%div{:id=>"main",:class=>"container"}
   %div{:class=>"row row-content-no-padding"}
      %div
         %table{:class=>"table table-bordered table-hover"}
            %thead
               %tr
                  %td #{t('.companies')}
                  %td
                  %td{:class=>"hidden-sm hidden-xs"}
                  -if can? :create, :company
                     %td{:class=>"hidden-sm hidden-xs"} New
                     %td{:class=>"hidden-sm hidden-xs"}
                        = link_to new_company_path do
                           %i{:class=>"fa fa-plus-square"}
                  -else
                     %td{:class=>"hidden-sm hidden-xs"}
                     %td{:class=>"hidden-sm hidden-xs"}
               %tr
                  %th #{t('.name')}
                  %th #{t('.licenses')}
                  %th{:class=>"hidden-sm hidden-xs"}#{t('.show')}
                  %th{:class=>"hidden-sm hidden-xs"}#{t('.edit')}
                  %th{:class=>"hidden-sm hidden-xs"}#{t('.delete')}
            -@companies.each do |company|
               %tr
                  %td= company.name
                  %td= company.licenses
                  %td{:class=>"hidden-sm hidden-xs"}
                     -if can? :read, company
                        = link_to company do
                           %i{:class=>"fa fa-gears"}
                  %td{:class=>"hidden-sm hidden-xs"}
                     -if can? :update, company
                        = link_to edit_company_path(company) do
                           %i{:class=>"fa fa-edit"}
                  %td{:class=>"hidden-sm hidden-xs"}
                     -if can? :destroy, company
                        = link_to company, method: :delete, data: { confirm: "#{t('.confirm')}" } do
                           %span{:class=>"glyphicon glyphicon-trash"}
