%br
%table{:class=>"flatTable"}
   %tr{:class=>"titleTr"}
      %th Companies
      %th
      %th
      -if can? :create, :company
         %th New
         %th{:class=>"plusTd button"}= link_to image_tag("3hSkhay.png"), new_company_path
      -else
         %th
         %th
   %tr{:class=>"headingTr"}
      %th Name
      %th Licenses
      %th
      %th
      %th

   -@companies.each do |company|
      %tr
         %td= company.name
         %td= company.licenses
         %td
            -if can? :read, company
               = link_to "Show", company
         %td
            -if can? :update, company
               = link_to "Edit", edit_company_path(company)
         %td
            -if can? :destroy, company
               = link_to "Remove", company, method: :delete, data: { confirm: "Are you sure?" }
