%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li
               = link_to companies_path do
                  Companies
            %li New
%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = render 'shared/error_messages'
      = form_for(@company , :html => {:class => "form-horizontal"}) do |f|
         %div{:class=>"col-sm-12 col-sm-offset-1"}
            %h2 New Company
         %div{:class=>"form-group"}
            = f.label :name, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :name, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label :licenses, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.number_field :licenses, :min => 1, :step => 1, placeholder:"1", :class=>"form-control"
         %div.row
            %div{:class=>"col-sm-12 col-sm-offset-1"}
               = f.submit "Save"
               = link_to "<button>Cancel</button>".html_safe, companies_path
