<h1>New Company</h1>
<%= render 'shared/error_messages' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@company) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :licenses %>
      <%= f.number_field :licenses, :min => 1, :step => 1, class: 'form-control' %>

      <%= f.submit "Save changes" %>
    <% end %>

    <div class="gravatar_edit">
      <%= link_to 'Back', companies_path %>
    </div>
  </div>
</div>
