%br
%br
%br
%table{:class=>"flatTable"}
   %tr{:class=>"titleTr"}
      %td{:class=>"first"} Company
      %td{:class=>"second"}= link_to "Companies List", companies_path
      %td{:class=>"third"}
      %td
   %tr{:class=>"headingTr"}
      %th{:class=>"first"} Name
      %th{:class=>"second"} Licenses
      %th{:class=>"third"}
      %th

   %tr
      %td
         -if can? :read, @company
            = link_to @company.name, @company
      %td= @company.licenses
      %td
         -if can? :update, @company
            = link_to "Edit", edit_company_path(@company)
      %td
         -if can? :destroy, @company
            = link_to "Remove", @company, method: :delete, data: { confirm: "Are you sure?" }

%br
- first = true
- @company.divisions.each do |division|
   %table{:class=>"flatTable"}
      - if first
         %tr{:class=>"titleTr"}
            %td{:class=>"first"} Divisions
            %td{:class=>"plusTd button"}= link_to image_tag("3hSkhay.png"), new_company_division_path(@company)
            - first = false
            %td
            %td
      %tr{:class=>"headingTr"}
         %th{:class=>"first"} Division
         %th{:class=>"second"}
         %th{:class=>"third"}
         %th
      %tr
         %td{:class=>"first"}= division.name
         %td{:class=>"second"}= link_to "Edit", edit_company_division_path(@company, division)
         %td{:class=>"third"}= link_to "Remove", company_division_path(@company, division), method: :delete, data: { confirm: "Are you sure?" }
         %td
   %table{:class=>"flatTable"}
      %tr{:class=>"headingTr"}
         %th{:class=>"first"} User
         %th
         %th
         %th
      -division.users.each do |user|
         %tr
            %td{:class=>"first"}= user.email
            %td{:class=>"second"}
               -if can? :removeuserdiv, User
                  =link_to "Remove", removeuserdiv_company_division_user_path(@company, division, user)
            %td
            %td
   - divids = division.users.pluck(:id)
   - compids = @company.users.pluck(:id)
   -if User.where(id: compids).where.not(id: divids).size > 0
      = form_for [@company, division], :url => adduserdiv_company_division_path(@company, division), method: "post" do |f|
         = f.collection_select :id, User.where(id: compids).where.not(id: divids),:id,:email, include_blank: false
         = f.submit "Add User"
   %br
%br

%table{:class=>"flatTable"}
   %tr{:class=>"titleTr"}
      %td{:class=>"first"}USERS
      %td{:align=>"right"} New
      -if can? :create, current_user
         %td{:class=>"plusTd button"}= link_to image_tag("3hSkhay.png"), new_company_user_path(@company)
      -else
         %td
      %td
      %td
   %tr{:class=>"headingTr"}
      %th{:class=>"first"} Email
      %th{:class=>"second"} Admin
      %th{:class=>"second"} Edit
      %th{:class=>"second"} Remove
      %th
   -@company.users.each do |user|
      %tr
         %td= user.email
         %td= user.moderator?
         %td
            -if can? :update, user
               = link_to "Edit", edit_company_user_path(@company, user)
         %td
            -if can? :destroy, user
               = link_to "Remove", company_user_path(@company, user), method: :delete, data: { confirm: "Are you sure?" }
         %td
