%br
%table{:class=>"flatTable"}
   %tr{:class=>"titleTr"}
      %td Company
      %td= link_to "Companies List", companies_path
      %td
      %td
   %tr{:class=>"headingTr"}
      %th Name
      %th Licenses
      %th
      %th

   %tr
      %td
         -if can? :read, @company
            = link_to @company.name, @company
      %td= @company.licenses
      %td
         -if can? :update, @company
            = link_to "Edit", edit_company_path(@company)
      %td
         -if can? :destroy, @company
            = link_to "Remove", @company, method: :delete, data: { confirm: "Are you sure?" }

%br
- first = true
- @company.divisions.each do |division|
   %table{:class=>"flatTable"}
      - if first
         %tr{:class=>"titleTr"}
            %td Divisions
            %td
            %td
            %td{:class=>"plusTd button"}= link_to image_tag("3hSkhay.png"), new_company_division_path(@company)
            - first = false
      %tr{:class=>"headingTr"}
         %th Division
         %th Share
         %th
         %th
      %tr
         %td= division.name
         %td= division.share
         %td= link_to "Edit", edit_company_division_path(@company, division)
         %td= link_to "Remove", company_division_path(@company, division), method: :delete, data: { confirm: "Are you sure?" }
   %table{:class=>"flatTable"}
      %tr{:class=>"headingTr"}
         %th User
         %th
         %th
         %th
      -division.users.each do |user|
         %tr
            %td= user.email
            %td
               -if can? :removeuserdiv, User
                  =link_to "Remove", removeuserdiv_company_division_user_path(@company, division, user)
            %td
            %td
   - divids = division.users.pluck(:id)
   - compids = @company.users.pluck(:id)
   -if User.where(id: compids).where.not(id: divids).size > 0
      = form_for [@company, division], :url => adduserdiv_company_division_path(@company, division), method: "post" do |f|
         = f.collection_select :id, User.where(id: compids).where.not(id: divids),:id,:email, include_blank: false
         = f.submit "Add User"
   %br
%br

%table{:class=>"flatTable"}
   %tr{:class=>"titleTr"}
      %td{:class=>"titleTd"}USERS
      %td{:colspan=>"1"}
      %td{:align=>"right"} New
      -if can? :create, current_user
         %td{:class=>"plusTd button"}= link_to image_tag("3hSkhay.png"), new_company_user_path(@company)
      -else
         %td
   %tr{:class=>"headingTr"}
      %th Email
      %th Admin
      %th
      %th
   -@company.users.each do |user|
      %tr
         %td= user.email
         %td= user.isadmin
         %td
            -if can? :update, user
               = link_to "Edit", edit_company_user_path(@company, user)
         %td
            -if can? :destroy, user
               = link_to "Remove", company_user_path(@company, user), method: :delete, data: { confirm: "Are you sure?" }
