%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  Home
            %li Company
%div{:class=>"container"}
   %div{:class=>"row row-content-no-padding2"}
      %div
         %table{:class=>"table table-bordered table-hover"}
            %thead
               %tr
                  %td Company
                  %td
                     =link_to "Companies List", companies_path
                  %td
                  %td
               %tr
                  %th Name
                  %th Licenses
                  %th
                  %th
               %tr
                  %td
                     -if can? :read, @company
                        = link_to @company.name, @company
                  %td= @company.licenses
                  %td
                     -if can? :update, @company
                        = link_to edit_company_path(@company) do
                           %i{:class=>"fa fa-edit"}
                  %td
                     -if can? :destroy, @company
                        = link_to @company, method: :delete, data: { confirm: "Are you sure?" } do
                           %span{:class=>"glyphicon glyphicon-trash"}
- first = true
- if @company.divisions.count == 0
   %div{:class=>"container"}
      %div{:class=>"row row-content-no-padding2"}
         %div
            %table{:class=>"table table-bordered table-hover"}
               %thead
                  %tr
                     %td Divisions
                     %td
                     %td
                        = link_to new_company_division_path(@company) do
                           %i{:class=>"fa fa-plus-square"}
                     - first = false
                  %tr
                     %th Division
                     %th
                     %th
- @company.divisions.each do |division|
   %div{:class=>"container"}
      %div{:class=>"row row-content-no-padding2"}
         %div
            %table{:class=>"table table-bordered table-hover"}
               %thead
                  %tr
                     %td Divisions
                     %td
                     %td
                        = link_to new_company_division_path(@company) do
                           %i{:class=>"fa fa-plus-square"}
                     - first = false
                  %tr
                     %th Division
                     %th
                     %th
               %tr
                  %td
                     =division.name
                  %td
                     =link_to edit_company_division_path(@company, division) do
                        %i{:class=>"fa fa-edit"}
                  %td
                     =link_to company_division_path(@company, division),  method: :delete , data: { confirm: "Are you sure?" } do
                        %span{:class=>"glyphicon glyphicon-trash"}
   %div{:class=>"container"}
      %div{:class=>"row row-content-no-padding2"}
         %div
            %table{:class=>"table table-bordered table-hover"}
               %tr
                  %th User
                  %th
               -division.users.each do |user|
                  %tr
                     %td
                        = user.email
                     %td
                        -if can? :removeuserdiv, User
                           =link_to removeuserdiv_company_division_user_path(@company, division, user) do
                              %span{:class=>"glyphicon glyphicon-trash"}
            - divids = division.users.pluck(:id)
            - compids = @company.users.pluck(:id)
            -if User.where(id: compids).where.not(id: divids).size > 0
               = form_for [@company, division], :url => adduserdiv_company_division_path(@company, division), :html => {:class => "form-inline"}, method: "post" do |f|
                  %div{:class=>"form-group"}
                     %div{:class=>"control-label col-sm-5"}
                        = f.collection_select :id, User.where(id: compids).where.not(id: divids),:id,:email, {include_blank: false}, {:class=>"form-control"}
                  %div{:class=>"form-group"}
                     = f.submit "Add User", :class=>"btn btn-default"

%div{:class=>"container"}
   %div{:class=>"row row-content-no-padding2"}
      %div
         %table{:class=>"table table-bordered table-hover"}
            %tr
               %td Users
               %td
               %td New
               %td
                  -if can? :create, current_user
                     = link_to new_company_user_path(@company) do
                        %i{:class=>"fa fa-plus-square"}
            %tr
               %th Email
               %th Admin
               %th Edit
               %th Remove
            -@company.users.each do |user|
               %tr
                  %td= user.email
                  %td= user.moderator?
                  %td
                     -if can? :update, user
                        = link_to edit_company_user_path(@company, user) do
                           %i{:class=>"fa fa-edit"}
                  %td
                     -if can? :destroy, user
                        = link_to company_user_path(@company, user), method: :delete, data: { confirm: "Are you sure?" } do
                           %span{:class=>"glyphicon glyphicon-trash"}

%div{:class=>"container"}
   %div{:class=>"row row-content-no-padding2"}
      %div
         %table{:class=>"table table-bordered table-hover"}
            %tr
               %td Products
               %td
               -if can? :create, Price
                  %td  New
                  %td
                     = link_to new_company_price_path(@company) do
                        %i{:class=>"fa fa-plus-square"}
               -else
                  %td
                  %td
            %tr
               %th Product Id
               %th Product Name
               -if can? :edit, Price
                  %th Edit
                  %th Remove
               -else
                  %th
                  %th
            -@company.prices.each do |price|
               %tr
                  %td= price.product_id
                  %td= price.name
                  %td
                     -if can? :edit, Price
                        =link_to edit_company_price_path(@company, price) do
                           %i{:class=>"fa fa-edit"}
                  %td
                     -if can? :delete, Price
                        =link_to company_price_path(@company, price), method: :delete, data: {confirm: "You sure?"} do
                           %span{:class=>"glyphicon glyphicon-trash"}
