%h1 Company
= render 'shared/error_messages'
%table
   %tr
      %th Name
      %th Licenses
      %th
      %th
      %th

   %tr
      %td= @company.name
      %td= @company.licenses
      %td
         -if can? :read, @company
            = link_to "Show", @company
      %td
         -if can? :update, @company
            = link_to "Edit", edit_company_path(@company)
      %td
         -if can? :destroy, @company
            = link_to "Remove", @company, method: :delete, data: { confirm: "Are you sure?" }

%br

= link_to "Companies List", companies_path

%br

- @company.divisions.each do |division|
   %table
      %tr
         %th Division
         %th Share
         %th
         %th
         %th
      %tr
         %td= division.name
         %td= division.share
         %td= link_to "Edit", edit_company_division_path(@company, division)
         %td= link_to "Remove", company_division_path(@company, division), method: :delete, data: { confirm: "Are you sure?" }
      -division.users.each do |user|
         %tr
            %td
            %td= user.email
            %td
            %td
               -if can? :removeuserdiv, User
                  =link_to "Remove From Division", removeuserdiv_company_division_user_path(@company, division, user)
-divids = #{division.users.pluck(:id)}
-compids = #{@company.users.pluck(:id)}
-if User.where(id: compids).where.not(id: divids).size > 0
   = form_for [@company, division], :url => adduserdiv_company_division_path(@company, division), method: "post" do |f|
      = f.collection_select :id, User.where(id: compids).where.not(id: divids),:id,:email, include_blank: false
      = f.submit "Add User"
%br
= link_to "New Division", new_company_division_path(@company)
%br

%table
   %tr
      %th User
      %th Admin
      %th
      %th
      %th
   -@company.users.each do |user|
      %tr
         %td= user.email
         %td= user.isadmin
         %td
            -if can? :update, user
               = link_to "Edit", edit_company_user_path(@company, user)
         %td
            -if can? :destroy, user
               = link_to "Remove", company_user_path(@company, user), method: :delete, data: { confirm: "Are you sure?" }
%br

-if can? :create, current_user
   =link_to "New User", new_company_user_path(@company)
