%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li
               = link_to company_path(session[:company_id] ) do
                  Company
            %li Edit Price

%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = form_for([@company,@price],:class=>"form-horizontal") do |f|
         %div.col-sm-12
            %h2 Update Price
         %div{:class=>"form-group"}
            %div{:class=>"control-label col-sm-2"}
               = f.label "Product Id"
            %div{:class=>"control-label col-sm-10"}
               = f.text_field :product_id
         %div{:class=>"form-group"}
            %div{:class=>"control-label col-sm-2"}
               = f.label :name
            %div{:class=>"control-label col-sm-10"}
               = f.text_field :name
         %div{:class=>"form-group"}
            %div{:class=>"control-label col-sm-2"}
               = f.label  :price
            %div{:class=>"control-label col-sm-10"}
               = f.text_area :price, :cols => "25", :rows => "10"
         %div.row
            %div{:class=>"col-sm-12 col-sm-offset-0", :style=>"padding-left:30px"}
               = f.submit "Save"
               = button_tag "Cancel", :type => 'submit', :class => 'button', :value=>"Cancel"
