%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  =t('.home')
            %li
               = link_to company_path(current_user.company_id ) do
                  =t('.company')
            %li #{t('.new_price')}
%div{:id=>"main",:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = form_for([@company,@price],:html => {:class => "form-horizontal"}) do |f|
         %div.page-header
            %div.container
               %div.row-fluid
                  %h2 #{t('.new_product')}
         %div{:class=>"form-group"}
            = f.label t('.name'), :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :name, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label t('.product_id'), :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.number_field :product_id, :required => true, :min => 1, :max => 100000, :step =>1, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label t('.version'), :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.number_field :version, :required => true, :min => 1, :max => 100000, :step =>1, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label  t('.price'), :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_area :price, :rows => "10", :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            %div{:class=>"col-sm-12 col-sm-offset-2"}
               = f.submit t('.save'), :class=>"btn btn-default"
               = link_to "<button class='btn btn-default'>#{t('.cancel')}</button>".html_safe, company_path(current_user.company_id)
