%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(current_user.company_id ,current_user.id) do
                  Home
            %li
               = link_to company_path(current_user.company_id ) do
                  Company
            %li New Price
%div{:class=>"container"}
   %div{:class=>"img-rounded",:style=>"background: white;padding-bottom:10px"}
      = form_for([@company,@price],:html => {:class => "form-horizontal"}) do |f|
         %div.page-header
            %div.container
               %div.row-fluid
                  %h2 New Product
         %div{:class=>"form-group"}
            = f.label :name, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :name, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label "Product Id", :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_field :product_id, :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            = f.label  :price, :class=>"control-label col-sm-2"
            %div{:class=>"control-label col-sm-5"}
               = f.text_area :price, :rows => "10", :required => true, :class=>"form-control"
         %div{:class=>"form-group"}
            %div{:class=>"col-sm-12 col-sm-offset-2"}
               = f.submit "Save", :class=>"btn btn-default"
               = link_to "<button class='btn btn-default'>Cancel</button>".html_safe, company_path(current_user.company_id)
