!!! 5
%html
   %head
      %title Optecture
      =favicon_link_tag 'favicon.ico'
      =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      =javascript_include_tag 'application', 'data-turbolinks-track' => true
      -# =stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"
      =javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js", "data-turbolinks-track" => true
      =javascript_include_tag 'drawing_scripts.js', "data-turbolinks-track" => true
      =csrf_meta_tags
   %body
      = render "shared/error_messages"
      %div{ :id=>"configsection", :class=>"modal fade", :role=>"dialog"}
         %div{ :class=>"modal-dialog", :id=>"openModal"}
            %div{:class=>"modal-content"}
               %div{:class=>"modal-header"}
                  %button{:type=>"button",:class=>"close","data-dismiss"=>"modal"} &times;
                  %h4{:class=>"modal-title"}Product Configuration
               %div{:class=>"modal-body"}
                  %div{ :class=>"spinnergif medium", :id=>"gifspinner"}
                  %div{ :id=>"data", :class =>"form-horizontal"}
                  %div{ :class=>"row"}
                     %label{ :class=>"control-label col-sm-12 col-sm-offset-10"}
                        %button{:type=>"button",:class=>"btn btn-default btn-sm","data-dismiss"=>"modal"} Done

      %div{ :id=>"backgroundSection", :class=>"modal fade", :role=>"dialog"}
         %div{ :class=>"modal-dialog", :id=>"openModal"}
            %div{:class=>"modal-content"}
               %div{:class=>"modal-header"}
                  %button{:type=>"button",:class=>"close","data-dismiss"=>"modal"} &times;
                  %h4{:class=>"modal-title"}Background Image
               %div{:class=>"modal-body"}
                  %div{ :id=>"data" }
                     = form_for(@drawing, :id=>"background_form",:url => updateBackground_company_user_drawing_path(params[:company_id], params[:user_id],params[:id]), html: { class: 'directUpload', data: { 'form-data' => (@presigned_post.fields), 'url' => @presigned_post.url, 'host' => URI.parse(@presigned_post.url).host } }) do |f|
                        %div{:class=>"form-group"}
                           = f.file_field :background, :class=>'form-control'
      :javascript
         var input = document.getElementById('drawing_background');
         input.onclick = function () {
            log.debug("Drawing Background Button Clicked");
            this.value = null;
         };

      %div{ :id=>"spinner", :class=>"spinner"}
         %div{ :class=>"rect1"}
         %div{ :class=>"rect2"}
         %div{ :class=>"rect3"}
         %div{ :class=>"rect4"}
         %div{ :class=>"rect5"}
      = render "shared/header"
      = yield
