!!! 5
%html
   %head
      %title Optecture
      =favicon_link_tag 'favicon.ico'
      =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      =stylesheet_link_tag    'magnific-popup', media: 'all', 'data-turbolinks-track' => true
      %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Bitter"}
      %link{:type => "text/css", :rel => "stylesheet", :href => 'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', 'data-turbolinks-track' => true}
      %link{:type => "text/css", :rel => "stylesheet", :href => 'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', 'data-turbolinks-track' => true}
      =javascript_include_tag 'application', 'data-turbolinks-track' => true
      =javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
      =javascript_include_tag 'passwordhelper', "data-turbolinks-track" => true
      =csrf_meta_tags
   %body
      = render "shared/header"
      = render "shared/error_messages"
      = yield
      = render "shared/footer2"
      :javascript
         $(document).ready(function() {
            $('#wrapper').css('top', $('#cssmenu').outerHeight());
         });
      = javascript_include_tag 'jquery.easing.min', 'data-turbolinks-track' => true
      = javascript_include_tag 'jquery.fittext', 'data-turbolinks-track' => true
      = javascript_include_tag 'jquery.magnific-popup.min', 'data-turbolinks-track' => true
      = javascript_include_tag 'scrollreveal.min', 'data-turbolinks-track' => true
      = javascript_include_tag 'creative.min', 'data-turbolinks-track' => true
